* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --secondary-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Sora, "sans-serif";
}

/* Common */
.main-content {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 20.5rem;
    padding: 1.8rem 0;
    border-radius: 999px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
}

.heading2 {
    color: var(--secondary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

/* Header */
.header {
    background: var(--secondary-color);
    padding-top: 3rem;
}

.header-top {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__nav__list {
    position: relative;
    display: flex;
    gap: 4.2rem;
}

.header__nav__list__item a,
.sign__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.header__nav__list__item:first-child a::before {
    position: absolute;
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #fff;
    left: -0.8rem;
}

.header__nav__list a:hover {
    color: #fff;
    font-weight: 400;
}

.header .sign {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sign__login:hover {
    color: #fff;
    font-weight: 400;
}

.sign__btn {
    min-width: 10.4rem;
    padding: 1.3rem 0;
    margin-left: 2.8rem;
    font-size: 1.6rem;
}

/* Hero */
.hero {
    margin-top: 7.6rem;
    padding-bottom: 11rem;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex: 1;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 2.2rem;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__row {
    margin-top: 2.8rem;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 3.8rem;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 33rem;
    height: 54rem;
    border-radius: 0.6rem;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -0.6rem;
}

.hero__img:last-child {
    width: 21rem;
    height: 41rem;
}

/* Services */
.services {
    padding-top: 1rem;
    margin-top: 16rem;
}

.services__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__desc {
    margin-top: 1.8rem;
    width: 46.8rem;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.services__content {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .services__media {
    width: 48%;
    flex-shrink: 0;
} */

.services__img {
    width: 57rem;
    height: 57rem;
    border-radius: 1.2rem;
    object-fit: cover;
}

.services__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5.5rem;
}

.services-item {
    display: flex;
    width: 47rem;
    padding: 21px 22px 20px;
    background: #fff;
    transition: 0.25s;
    border-radius: 10px;
}

.services-item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.services-item__icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: var(--secondary-color);
    background: #eff6fd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.services-item:hover .services-item__icon {
    color: #fff;
    background: #2e80ce;
}

.services-item__lable {
    margin-left: 1.9rem;
}

.services-item__heading {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.services-item__desc {
    margin-top: 0.8rem;
    width: 35.1rem;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* How it works */
.howitworks {
    margin-top: 17rem;
    padding: 10rem 0;
    background: #f6fbff;
}

.howitworks__desc {
    margin-top: 1.8rem;
    width: 46.8rem;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.howitworks__lists {
    margin-top: 8.6rem;
    display: flex;
    gap: 3rem;
}

.howitworks__item {
    padding: 4.3rem 4.2rem;
    border: 1.6rem solid #eaf6ff;
    border-radius: 0.4rem;
    background: #fff;
    transition: 0.25s;
}

.howitworks__item:hover {
    margin: -1.6rem 0 1.6rem;
    border-color: var(--primary-color);
}

.howitworks__item .title {
    margin-top: 1.8rem;
    color: var(--secondary-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.howitworks__item .desc,
.howitworks__item span {
    margin-top: 2.8rem;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    display: inline-block;
}

.howitworks__item span {
    margin-top: 1.8rem;
}

.howitworks__item:hover span {
    color: var(--primary-color);
    font-weight: 400;
}
