* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2e80ce;
    --secondary-color: #10375c;
    --desc-color: #575f66;
    --secondary-font: Inter, "sans-serif";
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Sora, "sans-serif";
}

/* Common */
.main-content {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 20.5rem;
    padding: 1.8rem 0;
    border-radius: 999px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
}

.heading2 {
    color: var(--secondary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* Header */
.header {
    background: var(--secondary-color);
    padding-top: 3rem;
}

.header-top {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__nav__list {
    position: relative;
    display: flex;
    gap: 4.2rem;
}

.header__nav__list__item a,
.sign__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.header__nav__list__item:first-child a::before {
    position: absolute;
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #fff;
    left: -0.8rem;
}

.header__nav__list a:hover {
    color: #fff;
    font-weight: 400;
}

.header .sign {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sign__login:hover {
    color: #fff;
    font-weight: 400;
}

.sign__btn {
    min-width: 10.4rem;
    padding: 1.3rem 0;
    margin-left: 2.8rem;
    font-size: 1.6rem;
}

/* Hero */
.hero {
    margin-top: 7.6rem;
    padding-bottom: 11rem;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__media {
    flex: 1;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 2.2rem;
    color: #c9d2da;
}

.hero__row {
    margin-top: 2.8rem;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 3.8rem;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 33rem;
    height: 54rem;
    border-radius: 0.6rem;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -0.6rem;
}

.hero__img:last-child {
    width: 21rem;
    height: 41rem;
}

/* Services */
.services {
    padding-top: 1rem;
    margin-top: 16rem;
}

.services__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__desc {
    margin-top: 1.8rem;
    width: 46.8rem;
    color: #575f66;
    text-align: center;
}

.services__content {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .services__media {
    width: 48%;
    flex-shrink: 0;
} */

.services__img {
    width: 57rem;
    height: 57rem;
    border-radius: 1.2rem;
    object-fit: cover;
}

.services__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5.5rem;
}

.services-item {
    display: flex;
    width: 47rem;
    padding: 21px 22px 20px;
    background: #fff;
    transition: 0.25s;
    border-radius: 10px;
}

.services-item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.services-item__icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: var(--secondary-color);
    background: #eff6fd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.services-item:hover .services-item__icon {
    color: #fff;
    background: #2e80ce;
}

.services-item__lable {
    margin-left: 1.9rem;
}

.services-item__heading {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.services-item__desc {
    margin-top: 0.8rem;
    width: 35.1rem;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* How it works */
.howitworks {
    margin-top: 17rem;
    padding: 10rem 0;
    background: #f6fbff;
}

.howitworks__desc {
    margin-top: 1.8rem;
    width: 46.8rem;
    color: #575f66;
}

.howitworks__lists {
    margin-top: 8.6rem;
    display: flex;
    gap: 3rem;
}

.howitworks__item {
    padding: 4.3rem 4.2rem;
    border: 1.6rem solid #eaf6ff;
    border-radius: 0.4rem;
    background: #fff;
    transition: 0.25s;
}

.howitworks__item:hover {
    margin: -1.6rem 0 1.6rem;
    border-color: var(--primary-color);
}

.howitworks__item .title {
    margin-top: 1.8rem;
    color: var(--secondary-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.howitworks__item .desc,
.howitworks__item span {
    margin-top: 2.8rem;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    display: inline-block;
}

.howitworks__item span {
    margin-top: 1.8rem;
}

.howitworks__item:hover span {
    color: var(--primary-color);
    font-weight: 400;
}

/* About */
.about {
    margin-top: 17rem;
}

.about__body {
    display: flex;
    align-items: center;
    column-gap: 13rem;
}

.about__media {
    width: 48%;
}

.about-images {
    position: relative;
    padding: 0 5.8rem 12.1rem 0;
}

.about-images__img {
    width: 51.2rem;
    height: 37rem;
    border-radius: 0.6rem;
    box-shadow: 0 1.4rem 2.8rem 0 rgba(0, 0, 0, 0.07);
    object-fit: cover;
}

.about-images__img:last-child {
    width: 33.2rem;
    position: absolute;
    top: 12.1rem;
    left: 23.8rem;
}

.about__content {
    flex: 1;
}

.about__content__heading2 {
    width: 47rem;
}

.about__content__desc {
    margin-top: 1.8rem;
    width: 46.8rem;
    color: #575f66;
}

.about__content .btn {
    margin-top: 3.8rem;
}

/* Team */
.team {
    margin-top: 17rem;
}

.team-top {
    text-align: center;
}

.team-top .btn {
    margin-top: 3.8rem;
}

.team-lists {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
}

.team-item__img-bg {
    padding-top: 2.8rem;
    border-radius: 0.6rem;
    background: #eaf6ff;
    overflow: hidden;
    display: flex;
}

.team-item:hover .team-item__thumb {
    transform: scale(1.1);
}

.team-item__thumb {
    max-width: 100%;
    height: 29rem;
    object-fit: cover;
    transition: 0.25s;
}

.team-item__name {
    margin-top: 1.8rem;
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.team-item__title {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.control {
    display: flex;
    column-gap: 1.8rem;
}

.team-control {
    margin-top: 3.8rem;
    justify-content: center;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    border: 0.1rem solid #575f66;
    outline: none;
    color: #575f66;
    background: #fff;
    transition: 0.25s;
}

.control__btn:hover {
    color: #fff;
    background: var(--primary-color);
}

/* Intall */
.intall {
    margin-top: 26.6rem;
    /* padding-top: 9.6rem; */
}

.intall-phone {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
    border-radius: 4px;
}

.intall__img {
    display: block;
    width: 28.4rem;
    height: 52.2rem;
    margin-top: -9.5rem;
    object-fit: cover;
}

.intall__content {
    max-width: 58.6rem;
}

.intall__heading2 {
    width: 48.9rem;
    color: #fff;
}

.intall__desc {
    margin-top: 1.8rem;
    color: #fff;
}

.action {
    display: flex;
    column-gap: 2.8rem;
}

.intall__action {
    margin-top: 3.8rem;
    align-items: center;
}

/* Blog */
.blog {
    margin-top: 17rem;
}

.blog__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading2 {
    width: 47rem;
}

.blog__read {
    display: block;
    margin: 2.8rem 0;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.blog__list {
    display: flex;
    max-width: 57rem;
    column-gap: 3rem;
}

.blog-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.blog-item:hover {
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}

.blog-item__thumb {
    height: 17.2rem;
    overflow: hidden;
}

.blog-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.blog-item:hover .blog-item__img {
    transform: scale(1.1);
}

.blog-item__body {
    padding: 1.8rem 2.2rem 2.1rem;
    border-radius: 0 0 12px 12px;
    border: 1px solid #e8ebee;
    border-top: none;
}

.blog-item:hover .blog-item__body {
    border: none;
}

.blog-item__heading {
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}

.blog-item__desc {
    margin-top: 1rem;
    width: 22.6rem;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.blog-item__more {
    display: inline-block;
    margin-top: 1.2rem;
    color: var(--secondary-color);
    font-size: 1.4rem;
}

.blog-item__more:hover {
    color: var(--primary-color);
}

/* Action */
.action {
    margin-top: 17rem;
    padding: 10rem 0;
    background: #f6fbff;
}

.action-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action__heading2 {
    position: relative;
    display: flex;
    justify-content: center;
}

.action__heading2::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 136px;
    height: 2px;
    background: var(--primary-color);
    bottom: -18px;
}

.action__desc {
    margin-top: 3.8rem;
    width: 617px;
    text-align: center;
}

.action-body .btn {
    margin-top: 3.8rem;
}
